
@model List<CarStoreWebApp.Models.Category>
@{
    ViewData["Title"] = "CarStoer";
}

<a asp-action="Index" asp-controller="Category">Add</a>
<table class="table table-active table-bordered table-hover">
    <thead>
        <tr>
            <td>ID</td>
            <td>Название</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.Id</td>
                <td>@x.Name</td>               
                <td><a asp-action="Delete" asp-controller="Category" asp-route-id="@x.Id" id="Удалить">Delete</a> <a asp-action="Edit" asp-controller="Category" asp-route-id="@x.Id">Изменить</a></td>
            </tr>
        }
    </tbody>
</table>

